<!-- ... existing code ... -->
<select id="listTaskWithWebsiteInfo" resultType="org.crawlify.common.vo.SpiderTaskVo">
    SELECT 
        st.id AS taskId,
        st.name AS taskName,
        st.website_id AS websiteId,
        wi.name AS websiteName,
        wi.base_url AS baseUrl
    FROM 
        spider_task st
    JOIN 
        website_info wi ON st.website_id = wi.id
    WHERE 
        1=1
        <if test="name != null and name != ''">
            AND st.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="websiteId != null">
            AND st.website_id = #{websiteId}
        </if>
</select>
<!-- ... existing code ... -->